body{
    padding: 50px 0;
    display: block;
}

#wrapper{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.container{
    display: grid;
    justify-content: center;
    border: 2px solid black;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    margin: 0 auto;
}

.divs{
    background-color: bisque;
    border: 1px solid black;
}

.hovering{
    background-color: blue;
}

.divNum{
    display: block;
}